body {
    text-align: justify;
    padding: 10px;
    background-color: rgb(207, 207, 207);

}

.errors {
  color: rgb(212, 2, 2);
}


.headerStyle {
    margin-top: 0%;
    background: #3D72A1;
    padding: 30px;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


 .formStyle {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 0 auto;
  }

  .TextField {
    margin: 20px;
    display: block;
    background-color: rgb(248, 247, 245);
  }

  
  .section {
      border: 5px solid #ece9f2;
      background: #ede9f5;
      margin: 20px;
      width: 90%;
      padding-left: 20px;
      padding-bottom: 20px;
      border-radius: 1.5%;
      
  }

  .section h3{
    color: rgb(69, 69, 70);
    font-family: "Roboto Slab";
  }

  .button {
    background-color: yellow;
    margin: 5px;
  }





